<script type="text/javascript">
	$(document).ready(function(){
		$(".change-status").change(function(){
			var id = $(this).attr('id');
			var val = $(this).val();
			$.ajax({
              type: 'get',
              url: '/sequencememberships/change_status',
              dataType: 'json',
              data: {
                'id' : id,
                'status' : val
              },
              success: function (data) {
				$(".message").removeClass("hidden");	
              }
            });
		});
		$("#close-message").click(function(){
			$(".message").addClass("hidden");
		});
	});
</script>
<br/>
<div class="message hidden">
	<div class="alert alert-success"><span>Successfully updated.</span>
	<a id="close-message" class="icon-remove pull-right">&times;</a></div>
</div>
<div class="">
	<table class="table table-striped">
		<thead>
			<th>Name</th>
			<th>Step</th>
			<th>Date</th>
			<th>Status</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<% @seq_memberships && @seq_memberships.each do |seq_mem| %>
				<tr>
					<td><%=seq_mem.sequence.name %></td>
					<% step = Step.find(seq_mem.step_id) %>
					<td><%= step.step_number %></td>
					<% sentemail_date = Contact.find(seq_mem.contact_id).history.sentemails.where(:sequence_id => seq_mem.sequence_id).first.date%>
					<td><%= sentemail_date.strftime("%m-%d-%Y")%></td>
					<td>
						<select class="change-status" id='<%= "#{seq_mem.id}"%>'>
						  <%if seq_mem.status == "active" %>
						 	 <option value="active" selected>Active</option>
						 	 <option value="pause">Pause</option>	
						 	<% elsif seq_mem.status == "paused"%>
						 		<option value="active">Active</option>
						  		<option value="pause" selected>Pause</option>
						  	<% else %>
						  		<strong>Canceled</strong>
						  	<% end %>
						</select>
					</td>
					<td>
						<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        sequencemembership_path(seq_mem),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %></td>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>	
</div>