<script type="text/javascript">
  $(document).ready(function(){
    // alert('here');
    $("[name='sequence[stop_toggle]']").bootstrapSwitch('state', true);
    $("[name='sequence[stop_toggle]']").on('switchChange.bootstrapSwitch', function(event, state) {
      // console.log(this); // DOM element
      $("#sequence_stop_toggle").val(state.value);
      // console.log(event); // jQuery event
      console.log(state.value); // true | false
      // alert(state);
    });
  }); 

</script>
<%= form_for @sequence,:html => { :class => 'form-horizontal' } do |f| %>
  <%#= f.error_notification %>
  <% if @sequence.errors.any? %>
    <div id="errorExplanation" class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <h4><%= pluralize(@sequence.errors.count, "error") %> prohibited this sequence from being saved:</h4>
      <ul>
      <% @sequence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Sequence Name:", :class => 'col-md-4 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    Pause if a Contact replies to you? <input class="" id="sequence_stop_toggle" name="sequence[stop_toggle]" type="checkbox" data-on-text="Yes" off-label="aa" data-off-text="No">
  </div>
    <%= f.submit "Save",:class => 'btn btn-primary pull-right submit-sequence' %>
<% end %>
